@import url("reset.css");

.wrapper {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}
h1 + p {
  color: rgb(1, 1, 19);
  font-size: 20px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 8px;
}
.first_line_cards, .second_line_cards  {
  font-size: 0;
  margin-top: 20px;
}

.cards {
  display: inline-block;
  width: 400px;
  height: 450px;
  font-size: 18px;
  padding: 10px 10px;
  border: 4px solid #0a0606;
  overflow: hidden;
}

.price {
  margin: 8px auto;
}

span {
  color: rgb(255, 94, 0);
}

p {
  color: rgb(230, 39, 39);
}
