@import url("reset.css");


.container  {
  font-size: 0;
  margin-top: 20px;
   width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}
h1 + p {
  color: rgb(1, 1, 19);
  font-size: 20px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 8px;
}


.cards {
  display: inline-block;
  width: 400px;
  font-size: 18px;
  padding: 14px;
}
.card_box {
  border: 2px solid #000;
  padding: 20px;
  overflow: hidden;
}

.price {
  margin: 8px auto;
  font-weight: 800;
  color: rgb(27, 44, 2);
}

p {
  color: rgb(230, 39, 39);
}
 .about {
    text-align: justify;
    color: rgb(97, 97, 238);
    font-size: 20px;
    height: 83px;
   

 }